<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="/javascripts/signup.js" defer></script>
</head>
<body>
    <div class="Hero">
        <h1 class="ta-c">Rewards for Good Students</h1>
        <h2 class="ta-c">Signup</h2>
    </div>
    <div class="form" class="mx-auto">
            <label for="email">Email</label>
            <input class="mx-auto" type="email" name="email" id="email" required>
            <label for="password">Password</label>
            <input class="mx-auto" type="password" name="password" id="password" required>
            <button class="mx-auto" id="signupBtn">Sign up</button>
            <span id="error" class="ta-c"></span>
    </div>
    <div class="footer">
        <a href="/login">Already have an account? Login</a>
    </div>
</body>
</html>