.section{
    padding: 0 16px;
    background-color: var(--secondary-color);
    color: var(--text-light);
    margin-bottom: 0;
}
.pt-32{
    padding-top: 48px;
}
.section h2{
    margin-bottom: 8px;
    margin-top: 8px;
}
.eventWrapper, .rewardWrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-dark);
    margin: 8px 0;
    border-radius: 8px;
}
.event{
    display: grid;
    grid-template-rows: 2.369rem 3.158rem;
}
.event h4, .reward h4{
    margin: 0;
    padding: 8px;
    margin-block-start: 0;
    margin-block-end: 0;
    overflow-x: hidden;
    white-space: nowrap;
}
.eventDetails{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: var(--font-size-base);
}
.eventDetails p{
    margin: 0;
    padding: 0;
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
}
.progress-container {
    background-color: #D3D3D3; /* Light grey background */
    border-radius: 20px; /* Rounded corners */
    padding: 5px;
    width: 300px; /* Fixed width, can be adjusted as needed */
    margin: 0 auto; /* Centering the progress bar */
    text-align: center; /* Center the text inside the bar */
    color: white; /* Text color */
    font-weight: bold; /* Make the text bold */
}
  
.progress-bar {
    background-color: var(--primary-color); /* Blue background */
    border-radius: 15px; /* Rounded corners */
    height: 30px; /* Fixed height of the progress bar */
    line-height: 30px; /* Align the text vertically */
    width: 0; /* Initial width set to 0 */
}  
.rewardWrapper{
    padding: 32px;
    margin-bottom: 32px;
}
.reward{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

a{
    color: var(--text-color);
    text-decoration: none;
}